body {
  background: linear-gradient(#cddafd, #ffffff);
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.title {
  font-family: 'Merriweather', serif;
}

.searchBox{
  border: 1px solid #dfe7fd;
  box-shadow: 10px 5px 5px gray;
  height: 50px;
  width: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.search{
  align-items: center;
  bottom: 50%;
}

.definitionBox{
  border: 1px solid #dfe7fd;
  box-shadow: 10px 5px 5px gray;
  height: 200px;
  width: 310px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  background-color: white;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
}

.socials {
  display: inline;
  margin: 10px;
}

.fa-linkedin {
  color: #0A66C2;
}

.fa-linkedin:hover {
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.fa-github {
  color: #000000;
}

.fa-github:hover {
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.fa-twitter-square {
  color: #4DA6EA;
}

.fa-twitter-square:hover {
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 678px){
  .searchBox{
    width: 500px;
  }

  .definitionBox{
    width: 480px;
  }
}

@media only screen and (min-width: 992px){
  .searchBox{
    width: 700px;
  }

  .definitionBox{
    width: 680px;
  }
}